
<div class="container">
  <h1>New Game</h1>
  <div class="row">
    <%@letters.each do |element|%>
      <div class="col-1 card text-white bg-primary mb-3">
        <p class="mx-auto"><%= "#{element}"%></p>
      </div>
    <%end%>
  </div>
  <form  action="score" method="post" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" text='ask your question' name="answer">
    <input type="submit" value="answer">
    <input id="tags_list" name="letters" type="hidden" value="<%= @letters.join(" ") %>"/>
    <input id="tags_list" name="start_time" type="hidden" value="<%= @start_time %>"/>

  </form>
</div>
